* {
    margin: 0;
    padding: 0
}

main {
    max-width: 1000px;
    background: gray;
    display: flex;
    margin: 0 auto;
    min-height: 300px;
}

#form {
    width: 50%;
    display: flex;
}

#profile {
    width: 50%;
}