* {
    margin: 0;
    padding: 0
}

body {
    background: #fbfaf7;
}

main {
    max-width: 800px;
    display: flex;
    margin: 0 auto;
    min-height: 300px;
}

#form {
    width: 50%;
    display: flex;
    flex-direction: column
}

#profile {
    width: 50%;
}

#profile__header {
    display: flex;
}

#profile__avatar {
    width: 30%;
}

#profile__avatar img {
    max-width: 70px;
    max-height: 70px;
}

#profile__info {
    width: 70%;
}

#profile__name {
    display: block;
    font-size: 2rem
}

#profile__languages {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly
}

#repos__header {
    background: lightgray
}

.repo-link {
    display: block;
    position: relative;
    padding: 1.3rem;
    font-size: 0.9rem;
    color: darkslategray;
}

.repo-link:hover {
    color: #4183C4;
    text-decoration: none;
}

.repo-name {
    max-width: 280px;
    font-weight: bold;
    font-size: 1.5rem;
    text-overflow: ellipsis;
}